<!DOCTYPE html>
<html>
  <head>
    <title>Order Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <style type="text/css">
    h1{ font-family: 'Dancing Script', cursive;
    font-size: 40px;
      }
     legend{ font-family: 'Dancing Script', cursive;
     font-size: 30px;
      } 
    label{ font-family: 'handlee', cursive;
    font-size: 20px;
      }
    </style>

  </head>
  <body>
    <h1><b>Place an Order!</b></h1>

    <hr>
    <form action="/orderindex" method="post">
      <b>
        <legend>What Would You Like Today?</legend>
        <label for="items">Items Available:</label>
        <section class="selection">
          <label for="item1">First Selection:</label><br>
<select id="item1" name="item1" required>
  <option value="" disabled selected>Select Item</option>
  <option value="236">Classic Butter Croissant</option>
  <option value="237">Chocolate Croissant</option>
  <option value="238">Almond Croissant</option>
  <option value="450">Blueberry Muffin</option>
  <option value="451">Chocolate Chip Muffin</option>
  <option value="452">Banana Nut Muffin</option>
  <option value="123">Blueberry Scone</option>
  <option value="124">Chocolate Chip Scone</option>
  <option value="125">Lemon Poppyseed Scone</option>
  <option value="258">Apple Pie</option>
  <option value="259">Cherry Pie</option>
  <option value="260">Blueberry Pie</option>
  <option value="280">Lemon Tar</option>
  <option value="281">Chocolate Tart</option>
  <option value="282">Fruit Tart</option>
  <option value="345">Chocolate Cake</option>
  <option value="346">Vanilla Cake</option>
  <option value="347">Red Velvet Cake</option>
  <option value="348">Carrot Cake</option>
  <option value="40">Chocolate Chip Cookie</option>
  <option value="41">Oatmeal Raisin Cookie</option>
  <option value="42">Peanut Butter Cookie</option>
  <option value="43">Sugar Cookie</option>
  <option value="170">Fruit Danish</option>
  <option value="171">Cheese Danish</option>
  <option value="172">Cinnamon Danish</option>
</select><br>
<select name="item1Qty" id="item1Qty">
  <option value="0">-</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select><br><br>


<label for="item1">Second Selection:</label><br>
<select id="item2" name="item2">
  <option value="" disabled selected>Select Item</option>
  <option value="236">Classic Butter Croissant</option>
  <option value="237">Chocolate Croissant</option>
  <option value="238">Almond Croissant</option>
  <option value="450">Blueberry Muffin</option>
  <option value="451">Chocolate Chip Muffin</option>
  <option value="452">Banana Nut Muffin</option>
  <option value="123">Blueberry Scone</option>
  <option value="124">Chocolate Chip Scone</option>
  <option value="125">Lemon Poppyseed Scone</option>
  <option value="258">Apple Pie</option>
  <option value="259">Cherry Pie</option>
  <option value="260">Blueberry Pie</option>
  <option value="280">Lemon Tar</option>
  <option value="281">Chocolate Tart</option>
  <option value="282">Fruit Tart</option>
  <option value="345">Chocolate Cake</option>
  <option value="346">Vanilla Cake</option>
  <option value="347">Red Velvet Cake</option>
  <option value="348">Carrot Cake</option>
  <option value="40">Chocolate Chip Cookie</option>
  <option value="41">Oatmeal Raisin Cookie</option>
  <option value="42">Peanut Butter Cookie</option>
  <option value="43">Sugar Cookie</option>
  <option value="170">Fruit Danish</option>
  <option value="171">Cheese Danish</option>
  <option value="172">Cinnamon Danish</option>
</select><br>
<select name="item2Qty" id="item2Qty">
  <option value="0">-</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select><br><br>

<label for="item3">Third Selection:</label><br>
<select id="item3" name="item3">
  <option value="" disabled selected>Select Item</option>
  <option value="236">Classic Butter Croissant</option>
  <option value="237">Chocolate Croissant</option>
  <option value="238">Almond Croissant</option>
  <option value="450">Blueberry Muffin</option>
  <option value="451">Chocolate Chip Muffin</option>
  <option value="452">Banana Nut Muffin</option>
  <option value="123">Blueberry Scone</option>
  <option value="124">Chocolate Chip Scone</option>
  <option value="125">Lemon Poppyseed Scone</option>
  <option value="258">Apple Pie</option>
  <option value="259">Cherry Pie</option>
  <option value="260">Blueberry Pie</option>
  <option value="280">Lemon Tar</option>
  <option value="281">Chocolate Tart</option>
  <option value="282">Fruit Tart</option>
  <option value="345">Chocolate Cake</option>
  <option value="346">Vanilla Cake</option>
  <option value="347">Red Velvet Cake</option>
  <option value="348">Carrot Cake</option>
  <option value="40">Chocolate Chip Cookie</option>
  <option value="41">Oatmeal Raisin Cookie</option>
  <option value="42">Peanut Butter Cookie</option>
  <option value="43">Sugar Cookie</option>
  <option value="170">Fruit Danish</option>
  <option value="171">Cheese Danish</option>
  <option value="172">Cinnamon Danish</option>
</select><br>
<select name="item3Qty" id="item3Qty">
  <option value="0">-</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select><br><br>
    
      <button id="checkout-button">Submit</button>
         
      </form>
    <div id="order-summary"></div>
    <script src="checkout.js"></script>
    <script src="order.js"></script>
  </body>
</html>
