<!DOCTYPE html>
<html>
  <head>
    <title>Review Page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1>Let us know how we're doing!</h1>

    <form action="/" method="post">
      <fieldset>
        <legend>Write a Review</legend>
        <label for="custFName">First Name:</label><br>
        <input type="text" id="custFName" name="custFName"><br>
        <label for="custLName">Last Name:</label><br>
        <input type="text" id="custLName" name="custLName"><br>
        <label for="reviewRate">Rating:</label>
        <input type="number" id="reviewRate" name="reviewRate"><br><br>
        <label for="review">Tell us about your experience:</label><br>
			<textarea id="review" name="review" rows="15" cols="60"></textarea>
      </fieldset>
        <input type="submit" value="Submit">
    </form>

    <br><br>
  

    <table>

      <tr><th>Name:</th>
        <th></th>
      <th>Rating:</th>
      <th>Review:</th></tr>

      <% if(customer_reviews.length > 0){  %>
      <% for (var i=0; i<customer_reviews.length; i++){ %>
      <tr>
        <td> <%- customer_reviews[i].customerFName %></td>
        <td> <%- customer_reviews[i].customerLName %></td>
        <td> <%- customer_reviews[i].reviewDesc %></td>
        <td> <%- customer_reviews[i].reviewRating %></td>
      </tr>
    <% } %>
      <% } else { %>
        <h2>Data not found</h2>
     <% } %>
    </table>
  
    </div>
   
    
    <script ></script>
  </body>
</html>
